<div class="team-photo">
	%%PHOTO size="medium" link="false"%%
</div>
<div class="team-meta">
	%%NAME wrap="h1" class="team-member-name"%%
	%%POSITION%%
	%%LOCATION%%
	%%PHONE%%
	%%SOCIALS%%
</div>
<div class="team-content">
	%%CONTENT%%
</div>
%%SKILLS%%