// Single team page
.team-page-single {
	padding: 20px 0;
}
.team-photo {
	float: left;
	padding: 0 20px 20px 0;
}
.team-single-item {
	padding: 25px 0;
	.team-meta {
		float: left;
		padding: 0 0 20px 0;
		&_item {
			display: block;
			&:before {
				display: inline-block;
				font-family: FontAwesome;
				font-size: 1em;
				margin: 0 0.5em 0 0;
				min-width: 1em;
				vertical-align: top;
			}
			&.position {
				&:before {
					content: "\f007";
				}
			}
			&.location {
				&:before {
					content: "\f041";
				}
			}
			&.website {
				&:before {
					content: "\f08e";
				}
			}
			&.email {
				&:before {
					content: "\f003";
				}
			}
			&.phone {
				&:before {
					content: "\f095";
				}
			}
		}
	}
}

.team-content {
	clear: both;
}
.team-item {
	&:after {
		clear: both;
		width: 100%;
		display: block;
		clear: both;
		content: "";
	}
	padding-bottom: 30px;
}

.team-listing {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: start;
	align-items: flex-start;
	align-content: stretch;
	padding: 20px 0;
	&:before,
	&:after {
		display: none;
	}
	&_item {
		text-align: center;
		padding-bottom: 30px;
		&.clear-col-lg {
			@media ( min-width: 1200px ) {
				clear: both;
			}
		}

		&.clear-col-md {
			@media ( min-width: 1200px ) {
				clear: none;
			}
			@media ( min-width: 992px ) {
				clear: both;
			}
		}

		&.clear-col-sm {
			@media ( min-width: 768px ) and ( max-width: 991px ) {
				clear: both;
			}
		}

		&.clear-col-xs {
			@media ( max-width: 768px ) {
				clear: both;
			}
		}
	}
	&_photo {
		text-align: center;
		padding: 0 0 15px;
		img {
			margin: 0 auto;
		}
	}
}

.template-grid-boxes .team-listing {
		&_wrap {
			position: relative;
			overflow: hidden;
		}
		&_content {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 20px;
			background: rgba( 0, 0, 0, .6 );
			opacity: 0;
			transition: opacity 300ms linear;
			&:hover {
				opacity: 1;
			}
		}
		&_photo {
			padding: 0;
			img {
				border-radius: 0;
				width: 100%;
				display: block;
				height: auto;
			}
		}
		&_name {
			margin: 0 0 10px;
			transition: background 300ms linear;
			a {
				color: #fff;
				box-shadow: none;
			}
		}
		&_position {
			color: #fff;
		}
		&_desc {
			color: #fff;
		}
		.team-socials_link {
			color: #fff;
			box-shadow: none;
		}

	}

.team-wrap {
	&:after {
		clear: both;
		content: "";
		width: 100%;
		display: block;
	}
}

.team-collapse-cols {
	.cherry-team-row {
		margin-left: 0;
		margin-right: 0;
	}
	.team-item {
		padding-left: 0;
		padding-right: 0;
	}
}

.team-collapse-rows {
	.team-item {
		padding-bottom: 0;
	}
}

// team socials
$icon-size: 40px;

.team-socials {
	padding: 10px 0 0 0;
	&_item {
		display: inline-block;
		margin: 0 5px 5px 0;
	}
	&_link {
		display: block;
		font-style: normal;
		width: $icon-size;
		height: $icon-size;
		position: relative;
		text-align: center;
		text-decoration: none;
		box-shadow: none;
	}
	&_icon.fa {
		display: block;
		width: 100%;
		height: 100%;
		line-height: $icon-size;
		font-size: $icon-size/2;
	}
	&_label {
		visibility: hidden;
		opacity: 0;
		color: #fff;
		background-color: #000;
		background-color: rgba(0,0,0,.7);
		font-size: 12px;
		line-height: 14px;
		width: 150px;
		padding: 5px;
		text-align: center;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		display: block;
		position: absolute;
		pointer-events: none;
		bottom: $icon-size + 30px;
		left: 50%;
		margin: 0 0 0 -75px;
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		transition: all 200ms linear;
		&.empty-label {
			display: none;
		}
		&:before {
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 6px 0 6px;
			border-color: rgba(0,0,0,.7) transparent transparent transparent;
			left: 50%;
			bottom: -6px;
			margin: 0 0 0 -6px;
			content: "";
		}
		.team-socials_link:hover & {
			visibility: visible;
			opacity: 1;
			bottom: $icon-size + 10px;
		}
	}
}

// Skills
.team-skills {
	&_bar {
		height: 10px;
		background: rgba(122,122,122,.3);
	}
	&_line {
		display: block;
		height: 100%;
	}
	&_item {
		padding: 0 0 10px;
	}
}

// Fix 5 columns layout
.columns_5.col-md-2 {
	flex: 0 0 20%;
	max-width: 20%;
}



// Filters and loaders
.cherry-team {
	position: relative;
	.team-listing {
		transition: all 300ms linear;
		opacity: 1;
	}
	&.in-progress {
		.team-listing {
			opacity: 0;
		}
	}
}

.cherry-team-filter {
	padding: 0 0 20px;
	margin: 0;
	&_item {
		display: inline-block;
		margin: 0 20px 0 0;
		&.active {
			.cherry-team-filter_link {
				border-color: currentColor;
			}
		}
	}
	&_link {
		padding: 8px 15px;
		border: 1px solid transparent;
		border-radius: 3px;
		display: inline-block;
		&:hover {
			border-color: currentColor;
		}
	}
}

a.page-numbers {
	border: 1px solid #e0e0e8;
	display: inline-block;
	height: 3em;
	line-height: 3;
	margin: 0 5px 5px 0;
	min-width: 3em;
	text-align: center;
	text-decoration: none;
	&.current,
	&:hover {
		border-color: currentColor;
	}
}

.ajax-more-btn {
	&.btn-hidden {
		display: none;
	}
}

.team-loader{
	position: absolute;
	left: 50%;
	top: 50%;

	.cherry-spinner{
		width: 90px;
		height: 90px;
		left: 50%;
		top: 50%;
		margin-left: -45px;
		margin-top: -45px;
		display: block;
		position: relative;
	}
	&.loader-small {
		bottom: 0;
		top: auto;
		.cherry-spinner {
			width: 40px;
			height: 40px;
			margin-left: -20px;
			margin-top: -20px;
		}
	}
}

.cherry-spinner-double-bounce.cherry-spinner {
	position: relative;
}
.cherry-spinner-double-bounce .cherry-double-bounce1, .cherry-spinner-double-bounce .cherry-double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: currentColor;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	animation: cherry-doubleBounce 2s infinite ease-in-out;
	text-decoration: none;
	border: none;
}

.cherry-spinner-double-bounce .cherry-double-bounce2 {
	animation-delay: -1s;
	text-decoration: none;
	border: none;
}

@-webkit-keyframes cherry-doubleBounce {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
@keyframes cherry-doubleBounce {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}