<div class="team-listing_photo">%%PHOTO%%</div>
<h5 class="team-listing_name"><a href="%%LINK%%">%%NAME%%</a></h5>
<small class="team-listing_position">%%POSITION%%</small>
<div class="team-listing_socials">%%SOCIALS%%</div>