<div class="team-photo">
	%%PHOTO size="medium" link="false"%%
</div>
<div class="team-meta">
	<h1>%%NAME%%</h1>
	%%POSITION%%
	%%LOCATION%%
	%%PHONE%%
	%%SOCIALS%%
</div>
<div class="team-content">
	%%CONTENT%%
</div>
%%SKILLS%%